.card:hover, .card:hover a{
    color: #37394f;
}

.card-title a{
    color: #eee4e8;
    font-weight: 600;
    font-family: 'Roboto Mono', 'sans-serif';
    text-transform: lowercase;
}

.card-body {
    background-color: #8d88a4;
}
.container-fluid{
    background: linear-gradient( #37394f, #8d88a4);
}

.container {
    background: #c4bfdc;
}

